/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Define a color palette */
:root {
    --color-primario: #ff7272;
    --color-secundario: #2ecc71;
    --color-accento: #c05b50;
    --color-fondo: #ecf0f1;
    --color-texto: #2c3e50;
}

/* Body styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Header and navigation styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primario);
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--color-accento);
}

/* Fondo styling */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1500px; /* Ajusta el ancho máximo según sea necesario */
    height: 300px; /* Ajusta la altura del carrusel */
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Ajusta la altura del contenedor para que coincida con el carrusel */
}

.carousel-slide {
    display: flex;
    width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
}

.carousel-slide img {
    width: 100%;
    height: 100%; /* Ajusta la altura de las imágenes para que coincida con el carrusel */
    border-radius: 8px;
    flex-shrink: 0;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Media queries para hacer el carrusel responsive */
@media screen and (max-width: 768px) {
    .carousel {
        max-width: 90%; /* Reduce el ancho máximo del carrusel para pantallas más pequeñas */
        height: 200px; /* Ajusta la altura del carrusel para pantallas más pequeñas */
    }
}

/* Content styling */
.contenido {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.izquierda {
    flex: 1;
    padding: 20px;
}

.derecha {
    flex: 1;
    padding: 10px;
}

.derecha img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
}

h1 {
    color: var(--color-primario);
}

p {
    color: var(--color-texto);
}

.boton {
    background-color: var(--color-primario);
    border: 2px solid var(--color-primario);
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.boton:hover {
    background-color: var(--color-accento);
    border-color: var(--color-accento);
}

.botones {
    margin-top: 20px;
    display: flex;
}

.botones button {
    margin-right: 10px;
}

h2 {
    color: var(--color-primario);
    text-align: center;
    margin-top: 40px;
}

/* Category buttons styling */
.categorias {
    text-align: center;
    margin-top: 20px;
}

.categoria {
    background-color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0 10px;
}

.categoria:hover {
    background-color: var(--color-accento);
    border-color: var(--color-accento);
}

/* Products styling */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.producto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.producto h3 {
    color: var(--color-primario);
    margin: 0 0 10px;
}

.producto p {
    margin: 0 0 5px;
    color: var(--color-texto);
}



.seccion {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.izquierda {
    flex: 1;
    padding: 20px;
}

.derecha {
    flex: 1;
    padding: 10px;
}

p {
    color: var(--color-texto);
}


/* Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px;  /* Ajusta la distancia desde la parte derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    width: 50px; /* Ajusta el tamaño del botón */
    height: 50px;
    background-color: #25D366; /* Color de fondo opcional */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.whatsapp-button img {
    width: 30px; /* Ajusta el tamaño del ícono */
    height: 30px;
}


/* Botón para ir arriba */
#top-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: #fd6060;
    border: none;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 0;
}

#top-button img {
    width: 24px;
    height: 24px;
}


/* Footer styling */
footer {
    background-color: var(--color-primario);
    padding: 20px 0;
    color: black;
    text-align: center;
}

footer .logo-2 {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

footer .links {
    display: inline-block;
    margin: 0 20px;
}

footer .links h4 {
    margin: 0 0 10px;
    color: black;
}

footer .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .links ul li {
    margin: 5px 0;
}

footer .links ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

footer .links ul li a:hover {
    color: var(--color-accento);
}

footer .socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social img {
    max-width: 50%;
    height: auto;
}
